#header-nav ul
{
 
margin: 10px 40px 10px 40px;
padding: 0;
list-style-type: none;
text-align: right;
}

#header-nav li 
{

display: inline-block;
width: 60px;
height: 30px;
padding: 5px 0px;

}

#header-nav li img
{
    display: inline-block;
    width: 40%;
    height: 20px;
    vertical-align: middle;
}

#header-nav #poza{
    text-align: center;
}

#header-nav li button
{
    color: white;
    font-weight: bold;
    background: #0066cc;
    width: 70px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    

}
#header-nav li a{
 text-decoration: none;   
 color:  rgb(31,31,31);
 font-size: 14px;

}

#header-nav li a:hover
{
    text-decoration: underline;
}


main
{

    text-align: center;
    margin-top: 200px;
}
form
{
    text-align: center;
}

#search-bar
{
display: block;
margin: auto;
margin-top: 20px;
margin-bottom: 25px;
width: 482px;
height: 44px;
border-radius: 24px;
border: 1px solid #c5c4c4;



}

#search-bar:hover
{
    box-shadow: 1px 1px 2px 2px #c5c4c4;
}

.butoane

{

margin: 5px;
height: 35px;
width: 140px;
background: #f5f4f4;
opacity: 0.7;
border: 0px;
border-radius: 5px;

}

.butoane:hover
{
    opacity: 1;
    border: 1px solid rgb(170, 168, 168);
}


p
{
    font-size: 14px;
}
.language
{
text-decoration: none;
font-weight: 10;
margin-left: 5px;

}

.language:hover
{
    text-decoration: underline;
}


#footer

{

    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e6e6e6;
    height: 100px;
    width: 100%;
    border-top:  1px solid #c5c4c4;


}

#footer p
{

    margin-left: 20px;
    margin-top: 0;
    margin-bottom: -10px;
    color: rgb(31,31,31);
    padding: 10px;
    font-size: 18px;
}

#footer hr
{
    color: #c5c4c4;
}
#footer-nav ul
{
margin-top:0;
margin-left: 20px;
height: 20px;
padding: 0;
list-style-type: none;   
}

#footer-nav ul li
{
    display:inline-block;
    padding:10px;
}
#footer-nav ul li a
{
    text-decoration: none;
    color: rgb(31, 31, 31);
}

#footer-nav ul li a:hover
{
    text-decoration: underline;
}


#nav1{
    float:left;
}
#nav2{
    float: right;
}




